<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= @rank.playerID %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @rank.sportID %>
</p>

<p>
  <strong>Position:</strong>
  <%= @rank.position %>
</p>

<%= link_to 'Edit', edit_rank_path(@rank) %> |
<%= link_to 'Back', ranks_path %>
