<p id="notice"><%= notice %></p>

<p>
  <strong>Playerid:</strong>
  <%= @rank.player_id %>
</p>

<p>
  <strong>Sportid:</strong>
  <%= @rank.sport_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @rank.position %>
</p>

<%= link_to 'Edit', edit_rank_path(@rank) %> |
<%= link_to 'Back', ranks_path %>
